[submodule "src/GameClient/Assets/Svelto/Svelto.ECS"]
	path = src/GameClient/Assets/Svelto/Svelto.ECS
	url = https://github.com/sebas77/Svelto.ECS.git
[submodule "src/GameClient/Assets/Svelto/Svelto.Tasks"]
	path = src/GameClient/Assets/Svelto/Svelto.Tasks
	url = https://github.com/sebas77/Svelto.Tasks.git
